{
  "name": "mogo",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "less/style.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "less"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "less/style.less",
      "imports": [
        "vendor/bootstrap/v3/less/bootstrap.less",
        "vendor/bootstrap/v4/css/bootstrap-grid.css",
        "less/general/_variables.less",
        "less/general/_typography.less",
        "vendor/bootstrap/v3/less/variables.less",
        "vendor/bootstrap/v3/less/mixins.less",
        "vendor/bootstrap/v3/less/normalize.less",
        "vendor/bootstrap/v3/less/print.less",
        "vendor/bootstrap/v3/less/glyphicons.less",
        "vendor/bootstrap/v3/less/scaffolding.less",
        "vendor/bootstrap/v3/less/type.less",
        "vendor/bootstrap/v3/less/code.less",
        "vendor/bootstrap/v3/less/grid.less",
        "vendor/bootstrap/v3/less/tables.less",
        "vendor/bootstrap/v3/less/forms.less",
        "vendor/bootstrap/v3/less/buttons.less",
        "vendor/bootstrap/v3/less/component-animations.less",
        "vendor/bootstrap/v3/less/dropdowns.less",
        "vendor/bootstrap/v3/less/button-groups.less",
        "vendor/bootstrap/v3/less/input-groups.less",
        "vendor/bootstrap/v3/less/navs.less",
        "vendor/bootstrap/v3/less/navbar.less",
        "vendor/bootstrap/v3/less/breadcrumbs.less",
        "vendor/bootstrap/v3/less/pagination.less",
        "vendor/bootstrap/v3/less/pager.less",
        "vendor/bootstrap/v3/less/labels.less",
        "vendor/bootstrap/v3/less/badges.less",
        "vendor/bootstrap/v3/less/jumbotron.less",
        "vendor/bootstrap/v3/less/thumbnails.less",
        "vendor/bootstrap/v3/less/alerts.less",
        "vendor/bootstrap/v3/less/progress-bars.less",
        "vendor/bootstrap/v3/less/media.less",
        "vendor/bootstrap/v3/less/list-group.less",
        "vendor/bootstrap/v3/less/panels.less",
        "vendor/bootstrap/v3/less/responsive-embed.less",
        "vendor/bootstrap/v3/less/wells.less",
        "vendor/bootstrap/v3/less/close.less",
        "vendor/bootstrap/v3/less/modals.less",
        "vendor/bootstrap/v3/less/tooltip.less",
        "vendor/bootstrap/v3/less/popovers.less",
        "vendor/bootstrap/v3/less/carousel.less",
        "vendor/bootstrap/v3/less/utilities.less",
        "vendor/bootstrap/v3/less/responsive-utilities.less",
        "vendor/bootstrap/v3/less/mixins/hide-text.less",
        "vendor/bootstrap/v3/less/mixins/opacity.less",
        "vendor/bootstrap/v3/less/mixins/image.less",
        "vendor/bootstrap/v3/less/mixins/labels.less",
        "vendor/bootstrap/v3/less/mixins/reset-filter.less",
        "vendor/bootstrap/v3/less/mixins/resize.less",
        "vendor/bootstrap/v3/less/mixins/responsive-visibility.less",
        "vendor/bootstrap/v3/less/mixins/size.less",
        "vendor/bootstrap/v3/less/mixins/tab-focus.less",
        "vendor/bootstrap/v3/less/mixins/text-emphasis.less",
        "vendor/bootstrap/v3/less/mixins/text-overflow.less",
        "vendor/bootstrap/v3/less/mixins/vendor-prefixes.less",
        "vendor/bootstrap/v3/less/mixins/alerts.less",
        "vendor/bootstrap/v3/less/mixins/buttons.less",
        "vendor/bootstrap/v3/less/mixins/panels.less",
        "vendor/bootstrap/v3/less/mixins/pagination.less",
        "vendor/bootstrap/v3/less/mixins/list-group.less",
        "vendor/bootstrap/v3/less/mixins/nav-divider.less",
        "vendor/bootstrap/v3/less/mixins/forms.less",
        "vendor/bootstrap/v3/less/mixins/progress-bar.less",
        "vendor/bootstrap/v3/less/mixins/table-row.less",
        "vendor/bootstrap/v3/less/mixins/background-variant.less",
        "vendor/bootstrap/v3/less/mixins/border-radius.less",
        "vendor/bootstrap/v3/less/mixins/gradients.less",
        "vendor/bootstrap/v3/less/mixins/clearfix.less",
        "vendor/bootstrap/v3/less/mixins/center-block.less",
        "vendor/bootstrap/v3/less/mixins/nav-vertical-align.less",
        "vendor/bootstrap/v3/less/mixins/grid-framework.less",
        "vendor/bootstrap/v3/less/mixins/grid.less"
      ]
    },
    {
      "path": "vendor/save/scss/bootstrap-grid.scss",
      "imports": [
        "vendor/save/scss/_variables.scss",
        "vendor/save/scss/mixins/_clearfix.scss",
        "vendor/save/scss/mixins/_breakpoints.scss",
        "vendor/save/scss/mixins/_grid-framework.scss",
        "vendor/save/scss/mixins/_grid.scss",
        "vendor/save/scss/_custom.scss",
        "vendor/save/scss/_grid.scss"
      ]
    },
    {
      "path": "vendor/save/scss/bootstrap-reboot.scss",
      "imports": [
        "vendor/save/scss/_variables.scss",
        "vendor/save/scss/_mixins.scss",
        "vendor/save/scss/_custom.scss",
        "vendor/save/scss/_normalize.scss",
        "vendor/save/scss/_reboot.scss",
        "vendor/save/scss/mixins/_breakpoints.scss",
        "vendor/save/scss/mixins/_hover.scss",
        "vendor/save/scss/mixins/_image.scss",
        "vendor/save/scss/mixins/_badge.scss",
        "vendor/save/scss/mixins/_resize.scss",
        "vendor/save/scss/mixins/_screen-reader.scss",
        "vendor/save/scss/mixins/_size.scss",
        "vendor/save/scss/mixins/_reset-text.scss",
        "vendor/save/scss/mixins/_text-emphasis.scss",
        "vendor/save/scss/mixins/_text-hide.scss",
        "vendor/save/scss/mixins/_text-truncate.scss",
        "vendor/save/scss/mixins/_transforms.scss",
        "vendor/save/scss/mixins/_visibility.scss",
        "vendor/save/scss/mixins/_alert.scss",
        "vendor/save/scss/mixins/_buttons.scss",
        "vendor/save/scss/mixins/_cards.scss",
        "vendor/save/scss/mixins/_pagination.scss",
        "vendor/save/scss/mixins/_lists.scss",
        "vendor/save/scss/mixins/_list-group.scss",
        "vendor/save/scss/mixins/_nav-divider.scss",
        "vendor/save/scss/mixins/_forms.scss",
        "vendor/save/scss/mixins/_table-row.scss",
        "vendor/save/scss/mixins/_background-variant.scss",
        "vendor/save/scss/mixins/_border-radius.scss",
        "vendor/save/scss/mixins/_gradients.scss",
        "vendor/save/scss/mixins/_clearfix.scss",
        "vendor/save/scss/mixins/_navbar-align.scss",
        "vendor/save/scss/mixins/_grid-framework.scss",
        "vendor/save/scss/mixins/_grid.scss",
        "vendor/save/scss/mixins/_float.scss",
        "vendor/save/scss/bootstrap.scss",
        "vendor/save/scss/_print.scss",
        "vendor/save/scss/_type.scss",
        "vendor/save/scss/_images.scss",
        "vendor/save/scss/_code.scss",
        "vendor/save/scss/_grid.scss",
        "vendor/save/scss/_tables.scss",
        "vendor/save/scss/_forms.scss",
        "vendor/save/scss/_buttons.scss",
        "vendor/save/scss/_transitions.scss",
        "vendor/save/scss/_dropdown.scss",
        "vendor/save/scss/_button-group.scss",
        "vendor/save/scss/_input-group.scss",
        "vendor/save/scss/_custom-forms.scss",
        "vendor/save/scss/_nav.scss",
        "vendor/save/scss/_navbar.scss",
        "vendor/save/scss/_card.scss",
        "vendor/save/scss/_breadcrumb.scss",
        "vendor/save/scss/_pagination.scss",
        "vendor/save/scss/_badge.scss",
        "vendor/save/scss/_jumbotron.scss",
        "vendor/save/scss/_alert.scss",
        "vendor/save/scss/_progress.scss",
        "vendor/save/scss/_media.scss",
        "vendor/save/scss/_list-group.scss",
        "vendor/save/scss/_responsive-embed.scss",
        "vendor/save/scss/_close.scss",
        "vendor/save/scss/_modal.scss",
        "vendor/save/scss/_tooltip.scss",
        "vendor/save/scss/_popover.scss",
        "vendor/save/scss/_carousel.scss",
        "vendor/save/scss/_utilities.scss",
        "vendor/save/scss/utilities/_align.scss",
        "vendor/save/scss/utilities/_background.scss",
        "vendor/save/scss/utilities/_borders.scss",
        "vendor/save/scss/utilities/_clearfix.scss",
        "vendor/save/scss/utilities/_display.scss",
        "vendor/save/scss/utilities/_flex.scss",
        "vendor/save/scss/utilities/_float.scss",
        "vendor/save/scss/utilities/_position.scss",
        "vendor/save/scss/utilities/_screenreaders.scss",
        "vendor/save/scss/utilities/_sizing.scss",
        "vendor/save/scss/utilities/_spacing.scss",
        "vendor/save/scss/utilities/_text.scss",
        "vendor/save/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "vendor/save/scss/bootstrap.scss",
      "imports": [
        "vendor/save/scss/_variables.scss",
        "vendor/save/scss/_mixins.scss",
        "vendor/save/scss/_custom.scss",
        "vendor/save/scss/_normalize.scss",
        "vendor/save/scss/_print.scss",
        "vendor/save/scss/_reboot.scss",
        "vendor/save/scss/_type.scss",
        "vendor/save/scss/_images.scss",
        "vendor/save/scss/_code.scss",
        "vendor/save/scss/_grid.scss",
        "vendor/save/scss/_tables.scss",
        "vendor/save/scss/_forms.scss",
        "vendor/save/scss/_buttons.scss",
        "vendor/save/scss/_transitions.scss",
        "vendor/save/scss/_dropdown.scss",
        "vendor/save/scss/_button-group.scss",
        "vendor/save/scss/_input-group.scss",
        "vendor/save/scss/_custom-forms.scss",
        "vendor/save/scss/_nav.scss",
        "vendor/save/scss/_navbar.scss",
        "vendor/save/scss/_card.scss",
        "vendor/save/scss/_breadcrumb.scss",
        "vendor/save/scss/_pagination.scss",
        "vendor/save/scss/_badge.scss",
        "vendor/save/scss/_jumbotron.scss",
        "vendor/save/scss/_alert.scss",
        "vendor/save/scss/_progress.scss",
        "vendor/save/scss/_media.scss",
        "vendor/save/scss/_list-group.scss",
        "vendor/save/scss/_responsive-embed.scss",
        "vendor/save/scss/_close.scss",
        "vendor/save/scss/_modal.scss",
        "vendor/save/scss/_tooltip.scss",
        "vendor/save/scss/_popover.scss",
        "vendor/save/scss/_carousel.scss",
        "vendor/save/scss/_utilities.scss",
        "vendor/save/scss/mixins/_breakpoints.scss",
        "vendor/save/scss/mixins/_hover.scss",
        "vendor/save/scss/mixins/_image.scss",
        "vendor/save/scss/mixins/_badge.scss",
        "vendor/save/scss/mixins/_resize.scss",
        "vendor/save/scss/mixins/_screen-reader.scss",
        "vendor/save/scss/mixins/_size.scss",
        "vendor/save/scss/mixins/_reset-text.scss",
        "vendor/save/scss/mixins/_text-emphasis.scss",
        "vendor/save/scss/mixins/_text-hide.scss",
        "vendor/save/scss/mixins/_text-truncate.scss",
        "vendor/save/scss/mixins/_transforms.scss",
        "vendor/save/scss/mixins/_visibility.scss",
        "vendor/save/scss/mixins/_alert.scss",
        "vendor/save/scss/mixins/_buttons.scss",
        "vendor/save/scss/mixins/_cards.scss",
        "vendor/save/scss/mixins/_pagination.scss",
        "vendor/save/scss/mixins/_lists.scss",
        "vendor/save/scss/mixins/_list-group.scss",
        "vendor/save/scss/mixins/_nav-divider.scss",
        "vendor/save/scss/mixins/_forms.scss",
        "vendor/save/scss/mixins/_table-row.scss",
        "vendor/save/scss/mixins/_background-variant.scss",
        "vendor/save/scss/mixins/_border-radius.scss",
        "vendor/save/scss/mixins/_gradients.scss",
        "vendor/save/scss/mixins/_clearfix.scss",
        "vendor/save/scss/mixins/_navbar-align.scss",
        "vendor/save/scss/mixins/_grid-framework.scss",
        "vendor/save/scss/mixins/_grid.scss",
        "vendor/save/scss/mixins/_float.scss",
        "vendor/save/scss/utilities/_align.scss",
        "vendor/save/scss/utilities/_background.scss",
        "vendor/save/scss/utilities/_borders.scss",
        "vendor/save/scss/utilities/_clearfix.scss",
        "vendor/save/scss/utilities/_display.scss",
        "vendor/save/scss/utilities/_flex.scss",
        "vendor/save/scss/utilities/_float.scss",
        "vendor/save/scss/utilities/_position.scss",
        "vendor/save/scss/utilities/_screenreaders.scss",
        "vendor/save/scss/utilities/_sizing.scss",
        "vendor/save/scss/utilities/_spacing.scss",
        "vendor/save/scss/utilities/_text.scss",
        "vendor/save/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "vendor/save/scss/_mixins.scss",
      "imports": [
        "vendor/save/scss/mixins/_breakpoints.scss",
        "vendor/save/scss/mixins/_hover.scss",
        "vendor/save/scss/mixins/_image.scss",
        "vendor/save/scss/mixins/_badge.scss",
        "vendor/save/scss/mixins/_resize.scss",
        "vendor/save/scss/mixins/_screen-reader.scss",
        "vendor/save/scss/mixins/_size.scss",
        "vendor/save/scss/mixins/_reset-text.scss",
        "vendor/save/scss/mixins/_text-emphasis.scss",
        "vendor/save/scss/mixins/_text-hide.scss",
        "vendor/save/scss/mixins/_text-truncate.scss",
        "vendor/save/scss/mixins/_transforms.scss",
        "vendor/save/scss/mixins/_visibility.scss",
        "vendor/save/scss/mixins/_alert.scss",
        "vendor/save/scss/mixins/_buttons.scss",
        "vendor/save/scss/mixins/_cards.scss",
        "vendor/save/scss/mixins/_pagination.scss",
        "vendor/save/scss/mixins/_lists.scss",
        "vendor/save/scss/mixins/_list-group.scss",
        "vendor/save/scss/mixins/_nav-divider.scss",
        "vendor/save/scss/mixins/_forms.scss",
        "vendor/save/scss/mixins/_table-row.scss",
        "vendor/save/scss/mixins/_background-variant.scss",
        "vendor/save/scss/mixins/_border-radius.scss",
        "vendor/save/scss/mixins/_gradients.scss",
        "vendor/save/scss/mixins/_clearfix.scss",
        "vendor/save/scss/mixins/_navbar-align.scss",
        "vendor/save/scss/mixins/_grid-framework.scss",
        "vendor/save/scss/mixins/_grid.scss",
        "vendor/save/scss/mixins/_float.scss"
      ]
    },
    {
      "path": "vendor/save/scss/_reboot.scss",
      "imports": [
        "vendor/save/scss/bootstrap.scss",
        "vendor/save/scss/_variables.scss",
        "vendor/save/scss/_mixins.scss",
        "vendor/save/scss/_custom.scss",
        "vendor/save/scss/_normalize.scss",
        "vendor/save/scss/_print.scss",
        "vendor/save/scss/_type.scss",
        "vendor/save/scss/_images.scss",
        "vendor/save/scss/_code.scss",
        "vendor/save/scss/_grid.scss",
        "vendor/save/scss/_tables.scss",
        "vendor/save/scss/_forms.scss",
        "vendor/save/scss/_buttons.scss",
        "vendor/save/scss/_transitions.scss",
        "vendor/save/scss/_dropdown.scss",
        "vendor/save/scss/_button-group.scss",
        "vendor/save/scss/_input-group.scss",
        "vendor/save/scss/_custom-forms.scss",
        "vendor/save/scss/_nav.scss",
        "vendor/save/scss/_navbar.scss",
        "vendor/save/scss/_card.scss",
        "vendor/save/scss/_breadcrumb.scss",
        "vendor/save/scss/_pagination.scss",
        "vendor/save/scss/_badge.scss",
        "vendor/save/scss/_jumbotron.scss",
        "vendor/save/scss/_alert.scss",
        "vendor/save/scss/_progress.scss",
        "vendor/save/scss/_media.scss",
        "vendor/save/scss/_list-group.scss",
        "vendor/save/scss/_responsive-embed.scss",
        "vendor/save/scss/_close.scss",
        "vendor/save/scss/_modal.scss",
        "vendor/save/scss/_tooltip.scss",
        "vendor/save/scss/_popover.scss",
        "vendor/save/scss/_carousel.scss",
        "vendor/save/scss/_utilities.scss",
        "vendor/save/scss/mixins/_breakpoints.scss",
        "vendor/save/scss/mixins/_hover.scss",
        "vendor/save/scss/mixins/_image.scss",
        "vendor/save/scss/mixins/_badge.scss",
        "vendor/save/scss/mixins/_resize.scss",
        "vendor/save/scss/mixins/_screen-reader.scss",
        "vendor/save/scss/mixins/_size.scss",
        "vendor/save/scss/mixins/_reset-text.scss",
        "vendor/save/scss/mixins/_text-emphasis.scss",
        "vendor/save/scss/mixins/_text-hide.scss",
        "vendor/save/scss/mixins/_text-truncate.scss",
        "vendor/save/scss/mixins/_transforms.scss",
        "vendor/save/scss/mixins/_visibility.scss",
        "vendor/save/scss/mixins/_alert.scss",
        "vendor/save/scss/mixins/_buttons.scss",
        "vendor/save/scss/mixins/_cards.scss",
        "vendor/save/scss/mixins/_pagination.scss",
        "vendor/save/scss/mixins/_lists.scss",
        "vendor/save/scss/mixins/_list-group.scss",
        "vendor/save/scss/mixins/_nav-divider.scss",
        "vendor/save/scss/mixins/_forms.scss",
        "vendor/save/scss/mixins/_table-row.scss",
        "vendor/save/scss/mixins/_background-variant.scss",
        "vendor/save/scss/mixins/_border-radius.scss",
        "vendor/save/scss/mixins/_gradients.scss",
        "vendor/save/scss/mixins/_clearfix.scss",
        "vendor/save/scss/mixins/_navbar-align.scss",
        "vendor/save/scss/mixins/_grid-framework.scss",
        "vendor/save/scss/mixins/_grid.scss",
        "vendor/save/scss/mixins/_float.scss",
        "vendor/save/scss/utilities/_align.scss",
        "vendor/save/scss/utilities/_background.scss",
        "vendor/save/scss/utilities/_borders.scss",
        "vendor/save/scss/utilities/_clearfix.scss",
        "vendor/save/scss/utilities/_display.scss",
        "vendor/save/scss/utilities/_flex.scss",
        "vendor/save/scss/utilities/_float.scss",
        "vendor/save/scss/utilities/_position.scss",
        "vendor/save/scss/utilities/_screenreaders.scss",
        "vendor/save/scss/utilities/_sizing.scss",
        "vendor/save/scss/utilities/_spacing.scss",
        "vendor/save/scss/utilities/_text.scss",
        "vendor/save/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "vendor/save/scss/_utilities.scss",
      "imports": [
        "vendor/save/scss/utilities/_align.scss",
        "vendor/save/scss/utilities/_background.scss",
        "vendor/save/scss/utilities/_borders.scss",
        "vendor/save/scss/utilities/_clearfix.scss",
        "vendor/save/scss/utilities/_display.scss",
        "vendor/save/scss/utilities/_flex.scss",
        "vendor/save/scss/utilities/_float.scss",
        "vendor/save/scss/utilities/_position.scss",
        "vendor/save/scss/utilities/_screenreaders.scss",
        "vendor/save/scss/utilities/_sizing.scss",
        "vendor/save/scss/utilities/_spacing.scss",
        "vendor/save/scss/utilities/_text.scss",
        "vendor/save/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/v3/less/bootstrap.less",
      "imports": [
        "vendor/bootstrap/v3/less/variables.less",
        "vendor/bootstrap/v3/less/mixins.less",
        "vendor/bootstrap/v3/less/normalize.less",
        "vendor/bootstrap/v3/less/print.less",
        "vendor/bootstrap/v3/less/glyphicons.less",
        "vendor/bootstrap/v3/less/scaffolding.less",
        "vendor/bootstrap/v3/less/type.less",
        "vendor/bootstrap/v3/less/code.less",
        "vendor/bootstrap/v3/less/grid.less",
        "vendor/bootstrap/v3/less/tables.less",
        "vendor/bootstrap/v3/less/forms.less",
        "vendor/bootstrap/v3/less/buttons.less",
        "vendor/bootstrap/v3/less/component-animations.less",
        "vendor/bootstrap/v3/less/dropdowns.less",
        "vendor/bootstrap/v3/less/button-groups.less",
        "vendor/bootstrap/v3/less/input-groups.less",
        "vendor/bootstrap/v3/less/navs.less",
        "vendor/bootstrap/v3/less/navbar.less",
        "vendor/bootstrap/v3/less/breadcrumbs.less",
        "vendor/bootstrap/v3/less/pagination.less",
        "vendor/bootstrap/v3/less/pager.less",
        "vendor/bootstrap/v3/less/labels.less",
        "vendor/bootstrap/v3/less/badges.less",
        "vendor/bootstrap/v3/less/jumbotron.less",
        "vendor/bootstrap/v3/less/thumbnails.less",
        "vendor/bootstrap/v3/less/alerts.less",
        "vendor/bootstrap/v3/less/progress-bars.less",
        "vendor/bootstrap/v3/less/media.less",
        "vendor/bootstrap/v3/less/list-group.less",
        "vendor/bootstrap/v3/less/panels.less",
        "vendor/bootstrap/v3/less/responsive-embed.less",
        "vendor/bootstrap/v3/less/wells.less",
        "vendor/bootstrap/v3/less/close.less",
        "vendor/bootstrap/v3/less/modals.less",
        "vendor/bootstrap/v3/less/tooltip.less",
        "vendor/bootstrap/v3/less/popovers.less",
        "vendor/bootstrap/v3/less/carousel.less",
        "vendor/bootstrap/v3/less/utilities.less",
        "vendor/bootstrap/v3/less/responsive-utilities.less",
        "vendor/bootstrap/v3/less/mixins/hide-text.less",
        "vendor/bootstrap/v3/less/mixins/opacity.less",
        "vendor/bootstrap/v3/less/mixins/image.less",
        "vendor/bootstrap/v3/less/mixins/labels.less",
        "vendor/bootstrap/v3/less/mixins/reset-filter.less",
        "vendor/bootstrap/v3/less/mixins/resize.less",
        "vendor/bootstrap/v3/less/mixins/responsive-visibility.less",
        "vendor/bootstrap/v3/less/mixins/size.less",
        "vendor/bootstrap/v3/less/mixins/tab-focus.less",
        "vendor/bootstrap/v3/less/mixins/text-emphasis.less",
        "vendor/bootstrap/v3/less/mixins/text-overflow.less",
        "vendor/bootstrap/v3/less/mixins/vendor-prefixes.less",
        "vendor/bootstrap/v3/less/mixins/alerts.less",
        "vendor/bootstrap/v3/less/mixins/buttons.less",
        "vendor/bootstrap/v3/less/mixins/panels.less",
        "vendor/bootstrap/v3/less/mixins/pagination.less",
        "vendor/bootstrap/v3/less/mixins/list-group.less",
        "vendor/bootstrap/v3/less/mixins/nav-divider.less",
        "vendor/bootstrap/v3/less/mixins/forms.less",
        "vendor/bootstrap/v3/less/mixins/progress-bar.less",
        "vendor/bootstrap/v3/less/mixins/table-row.less",
        "vendor/bootstrap/v3/less/mixins/background-variant.less",
        "vendor/bootstrap/v3/less/mixins/border-radius.less",
        "vendor/bootstrap/v3/less/mixins/gradients.less",
        "vendor/bootstrap/v3/less/mixins/clearfix.less",
        "vendor/bootstrap/v3/less/mixins/center-block.less",
        "vendor/bootstrap/v3/less/mixins/nav-vertical-align.less",
        "vendor/bootstrap/v3/less/mixins/grid-framework.less",
        "vendor/bootstrap/v3/less/mixins/grid.less"
      ]
    },
    {
      "path": "vendor/bootstrap/v3/less/mixins.less",
      "imports": [
        "vendor/bootstrap/v3/less/mixins/hide-text.less",
        "vendor/bootstrap/v3/less/mixins/opacity.less",
        "vendor/bootstrap/v3/less/mixins/image.less",
        "vendor/bootstrap/v3/less/mixins/labels.less",
        "vendor/bootstrap/v3/less/mixins/reset-filter.less",
        "vendor/bootstrap/v3/less/mixins/resize.less",
        "vendor/bootstrap/v3/less/mixins/responsive-visibility.less",
        "vendor/bootstrap/v3/less/mixins/size.less",
        "vendor/bootstrap/v3/less/mixins/tab-focus.less",
        "vendor/bootstrap/v3/less/mixins/text-emphasis.less",
        "vendor/bootstrap/v3/less/mixins/text-overflow.less",
        "vendor/bootstrap/v3/less/mixins/vendor-prefixes.less",
        "vendor/bootstrap/v3/less/mixins/alerts.less",
        "vendor/bootstrap/v3/less/mixins/buttons.less",
        "vendor/bootstrap/v3/less/mixins/panels.less",
        "vendor/bootstrap/v3/less/mixins/pagination.less",
        "vendor/bootstrap/v3/less/mixins/list-group.less",
        "vendor/bootstrap/v3/less/mixins/nav-divider.less",
        "vendor/bootstrap/v3/less/mixins/forms.less",
        "vendor/bootstrap/v3/less/mixins/progress-bar.less",
        "vendor/bootstrap/v3/less/mixins/table-row.less",
        "vendor/bootstrap/v3/less/mixins/background-variant.less",
        "vendor/bootstrap/v3/less/mixins/border-radius.less",
        "vendor/bootstrap/v3/less/mixins/gradients.less",
        "vendor/bootstrap/v3/less/mixins/clearfix.less",
        "vendor/bootstrap/v3/less/mixins/center-block.less",
        "vendor/bootstrap/v3/less/mixins/nav-vertical-align.less",
        "vendor/bootstrap/v3/less/mixins/grid-framework.less",
        "vendor/bootstrap/v3/less/mixins/grid.less"
      ]
    },
    {
      "path": "vendor/bootstrap/v3/less/theme.less",
      "imports": [
        "vendor/bootstrap/v3/less/variables.less",
        "vendor/bootstrap/v3/less/mixins.less",
        "vendor/bootstrap/v3/less/mixins/hide-text.less",
        "vendor/bootstrap/v3/less/mixins/opacity.less",
        "vendor/bootstrap/v3/less/mixins/image.less",
        "vendor/bootstrap/v3/less/mixins/labels.less",
        "vendor/bootstrap/v3/less/mixins/reset-filter.less",
        "vendor/bootstrap/v3/less/mixins/resize.less",
        "vendor/bootstrap/v3/less/mixins/responsive-visibility.less",
        "vendor/bootstrap/v3/less/mixins/size.less",
        "vendor/bootstrap/v3/less/mixins/tab-focus.less",
        "vendor/bootstrap/v3/less/mixins/text-emphasis.less",
        "vendor/bootstrap/v3/less/mixins/text-overflow.less",
        "vendor/bootstrap/v3/less/mixins/vendor-prefixes.less",
        "vendor/bootstrap/v3/less/mixins/alerts.less",
        "vendor/bootstrap/v3/less/mixins/buttons.less",
        "vendor/bootstrap/v3/less/mixins/panels.less",
        "vendor/bootstrap/v3/less/mixins/pagination.less",
        "vendor/bootstrap/v3/less/mixins/list-group.less",
        "vendor/bootstrap/v3/less/mixins/nav-divider.less",
        "vendor/bootstrap/v3/less/mixins/forms.less",
        "vendor/bootstrap/v3/less/mixins/progress-bar.less",
        "vendor/bootstrap/v3/less/mixins/table-row.less",
        "vendor/bootstrap/v3/less/mixins/background-variant.less",
        "vendor/bootstrap/v3/less/mixins/border-radius.less",
        "vendor/bootstrap/v3/less/mixins/gradients.less",
        "vendor/bootstrap/v3/less/mixins/clearfix.less",
        "vendor/bootstrap/v3/less/mixins/center-block.less",
        "vendor/bootstrap/v3/less/mixins/nav-vertical-align.less",
        "vendor/bootstrap/v3/less/mixins/grid-framework.less",
        "vendor/bootstrap/v3/less/mixins/grid.less"
      ]
    },
    {
      "path": "vendor/bootstrap/v4/scss/bootstrap-grid.scss",
      "imports": [
        "vendor/bootstrap/v4/scss/_variables.scss",
        "vendor/bootstrap/v4/scss/mixins/_clearfix.scss",
        "vendor/bootstrap/v4/scss/mixins/_breakpoints.scss",
        "vendor/bootstrap/v4/scss/mixins/_grid-framework.scss",
        "vendor/bootstrap/v4/scss/mixins/_grid.scss",
        "vendor/bootstrap/v4/scss/_custom.scss",
        "vendor/bootstrap/v4/scss/_grid.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/v4/scss/bootstrap-reboot.scss",
      "imports": [
        "vendor/bootstrap/v4/scss/_variables.scss",
        "vendor/bootstrap/v4/scss/_mixins.scss",
        "vendor/bootstrap/v4/scss/_custom.scss",
        "vendor/bootstrap/v4/scss/_normalize.scss",
        "vendor/bootstrap/v4/scss/_reboot.scss",
        "vendor/bootstrap/v4/scss/mixins/_breakpoints.scss",
        "vendor/bootstrap/v4/scss/mixins/_hover.scss",
        "vendor/bootstrap/v4/scss/mixins/_image.scss",
        "vendor/bootstrap/v4/scss/mixins/_badge.scss",
        "vendor/bootstrap/v4/scss/mixins/_resize.scss",
        "vendor/bootstrap/v4/scss/mixins/_screen-reader.scss",
        "vendor/bootstrap/v4/scss/mixins/_size.scss",
        "vendor/bootstrap/v4/scss/mixins/_reset-text.scss",
        "vendor/bootstrap/v4/scss/mixins/_text-emphasis.scss",
        "vendor/bootstrap/v4/scss/mixins/_text-hide.scss",
        "vendor/bootstrap/v4/scss/mixins/_text-truncate.scss",
        "vendor/bootstrap/v4/scss/mixins/_transforms.scss",
        "vendor/bootstrap/v4/scss/mixins/_visibility.scss",
        "vendor/bootstrap/v4/scss/mixins/_alert.scss",
        "vendor/bootstrap/v4/scss/mixins/_buttons.scss",
        "vendor/bootstrap/v4/scss/mixins/_cards.scss",
        "vendor/bootstrap/v4/scss/mixins/_pagination.scss",
        "vendor/bootstrap/v4/scss/mixins/_lists.scss",
        "vendor/bootstrap/v4/scss/mixins/_list-group.scss",
        "vendor/bootstrap/v4/scss/mixins/_nav-divider.scss",
        "vendor/bootstrap/v4/scss/mixins/_forms.scss",
        "vendor/bootstrap/v4/scss/mixins/_table-row.scss",
        "vendor/bootstrap/v4/scss/mixins/_background-variant.scss",
        "vendor/bootstrap/v4/scss/mixins/_border-radius.scss",
        "vendor/bootstrap/v4/scss/mixins/_gradients.scss",
        "vendor/bootstrap/v4/scss/mixins/_clearfix.scss",
        "vendor/bootstrap/v4/scss/mixins/_navbar-align.scss",
        "vendor/bootstrap/v4/scss/mixins/_grid-framework.scss",
        "vendor/bootstrap/v4/scss/mixins/_grid.scss",
        "vendor/bootstrap/v4/scss/mixins/_float.scss",
        "vendor/bootstrap/v4/scss/bootstrap.scss",
        "vendor/bootstrap/v4/scss/_print.scss",
        "vendor/bootstrap/v4/scss/_type.scss",
        "vendor/bootstrap/v4/scss/_images.scss",
        "vendor/bootstrap/v4/scss/_code.scss",
        "vendor/bootstrap/v4/scss/_grid.scss",
        "vendor/bootstrap/v4/scss/_tables.scss",
        "vendor/bootstrap/v4/scss/_forms.scss",
        "vendor/bootstrap/v4/scss/_buttons.scss",
        "vendor/bootstrap/v4/scss/_transitions.scss",
        "vendor/bootstrap/v4/scss/_dropdown.scss",
        "vendor/bootstrap/v4/scss/_button-group.scss",
        "vendor/bootstrap/v4/scss/_input-group.scss",
        "vendor/bootstrap/v4/scss/_custom-forms.scss",
        "vendor/bootstrap/v4/scss/_nav.scss",
        "vendor/bootstrap/v4/scss/_navbar.scss",
        "vendor/bootstrap/v4/scss/_card.scss",
        "vendor/bootstrap/v4/scss/_breadcrumb.scss",
        "vendor/bootstrap/v4/scss/_pagination.scss",
        "vendor/bootstrap/v4/scss/_badge.scss",
        "vendor/bootstrap/v4/scss/_jumbotron.scss",
        "vendor/bootstrap/v4/scss/_alert.scss",
        "vendor/bootstrap/v4/scss/_progress.scss",
        "vendor/bootstrap/v4/scss/_media.scss",
        "vendor/bootstrap/v4/scss/_list-group.scss",
        "vendor/bootstrap/v4/scss/_responsive-embed.scss",
        "vendor/bootstrap/v4/scss/_close.scss",
        "vendor/bootstrap/v4/scss/_modal.scss",
        "vendor/bootstrap/v4/scss/_tooltip.scss",
        "vendor/bootstrap/v4/scss/_popover.scss",
        "vendor/bootstrap/v4/scss/_carousel.scss",
        "vendor/bootstrap/v4/scss/_utilities.scss",
        "vendor/bootstrap/v4/scss/utilities/_align.scss",
        "vendor/bootstrap/v4/scss/utilities/_background.scss",
        "vendor/bootstrap/v4/scss/utilities/_borders.scss",
        "vendor/bootstrap/v4/scss/utilities/_clearfix.scss",
        "vendor/bootstrap/v4/scss/utilities/_display.scss",
        "vendor/bootstrap/v4/scss/utilities/_flex.scss",
        "vendor/bootstrap/v4/scss/utilities/_float.scss",
        "vendor/bootstrap/v4/scss/utilities/_position.scss",
        "vendor/bootstrap/v4/scss/utilities/_screenreaders.scss",
        "vendor/bootstrap/v4/scss/utilities/_sizing.scss",
        "vendor/bootstrap/v4/scss/utilities/_spacing.scss",
        "vendor/bootstrap/v4/scss/utilities/_text.scss",
        "vendor/bootstrap/v4/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/v4/scss/bootstrap.scss",
      "imports": [
        "vendor/bootstrap/v4/scss/_variables.scss",
        "vendor/bootstrap/v4/scss/_mixins.scss",
        "vendor/bootstrap/v4/scss/_custom.scss",
        "vendor/bootstrap/v4/scss/_normalize.scss",
        "vendor/bootstrap/v4/scss/_print.scss",
        "vendor/bootstrap/v4/scss/_reboot.scss",
        "vendor/bootstrap/v4/scss/_type.scss",
        "vendor/bootstrap/v4/scss/_images.scss",
        "vendor/bootstrap/v4/scss/_code.scss",
        "vendor/bootstrap/v4/scss/_grid.scss",
        "vendor/bootstrap/v4/scss/_tables.scss",
        "vendor/bootstrap/v4/scss/_forms.scss",
        "vendor/bootstrap/v4/scss/_buttons.scss",
        "vendor/bootstrap/v4/scss/_transitions.scss",
        "vendor/bootstrap/v4/scss/_dropdown.scss",
        "vendor/bootstrap/v4/scss/_button-group.scss",
        "vendor/bootstrap/v4/scss/_input-group.scss",
        "vendor/bootstrap/v4/scss/_custom-forms.scss",
        "vendor/bootstrap/v4/scss/_nav.scss",
        "vendor/bootstrap/v4/scss/_navbar.scss",
        "vendor/bootstrap/v4/scss/_card.scss",
        "vendor/bootstrap/v4/scss/_breadcrumb.scss",
        "vendor/bootstrap/v4/scss/_pagination.scss",
        "vendor/bootstrap/v4/scss/_badge.scss",
        "vendor/bootstrap/v4/scss/_jumbotron.scss",
        "vendor/bootstrap/v4/scss/_alert.scss",
        "vendor/bootstrap/v4/scss/_progress.scss",
        "vendor/bootstrap/v4/scss/_media.scss",
        "vendor/bootstrap/v4/scss/_list-group.scss",
        "vendor/bootstrap/v4/scss/_responsive-embed.scss",
        "vendor/bootstrap/v4/scss/_close.scss",
        "vendor/bootstrap/v4/scss/_modal.scss",
        "vendor/bootstrap/v4/scss/_tooltip.scss",
        "vendor/bootstrap/v4/scss/_popover.scss",
        "vendor/bootstrap/v4/scss/_carousel.scss",
        "vendor/bootstrap/v4/scss/_utilities.scss",
        "vendor/bootstrap/v4/scss/mixins/_breakpoints.scss",
        "vendor/bootstrap/v4/scss/mixins/_hover.scss",
        "vendor/bootstrap/v4/scss/mixins/_image.scss",
        "vendor/bootstrap/v4/scss/mixins/_badge.scss",
        "vendor/bootstrap/v4/scss/mixins/_resize.scss",
        "vendor/bootstrap/v4/scss/mixins/_screen-reader.scss",
        "vendor/bootstrap/v4/scss/mixins/_size.scss",
        "vendor/bootstrap/v4/scss/mixins/_reset-text.scss",
        "vendor/bootstrap/v4/scss/mixins/_text-emphasis.scss",
        "vendor/bootstrap/v4/scss/mixins/_text-hide.scss",
        "vendor/bootstrap/v4/scss/mixins/_text-truncate.scss",
        "vendor/bootstrap/v4/scss/mixins/_transforms.scss",
        "vendor/bootstrap/v4/scss/mixins/_visibility.scss",
        "vendor/bootstrap/v4/scss/mixins/_alert.scss",
        "vendor/bootstrap/v4/scss/mixins/_buttons.scss",
        "vendor/bootstrap/v4/scss/mixins/_cards.scss",
        "vendor/bootstrap/v4/scss/mixins/_pagination.scss",
        "vendor/bootstrap/v4/scss/mixins/_lists.scss",
        "vendor/bootstrap/v4/scss/mixins/_list-group.scss",
        "vendor/bootstrap/v4/scss/mixins/_nav-divider.scss",
        "vendor/bootstrap/v4/scss/mixins/_forms.scss",
        "vendor/bootstrap/v4/scss/mixins/_table-row.scss",
        "vendor/bootstrap/v4/scss/mixins/_background-variant.scss",
        "vendor/bootstrap/v4/scss/mixins/_border-radius.scss",
        "vendor/bootstrap/v4/scss/mixins/_gradients.scss",
        "vendor/bootstrap/v4/scss/mixins/_clearfix.scss",
        "vendor/bootstrap/v4/scss/mixins/_navbar-align.scss",
        "vendor/bootstrap/v4/scss/mixins/_grid-framework.scss",
        "vendor/bootstrap/v4/scss/mixins/_grid.scss",
        "vendor/bootstrap/v4/scss/mixins/_float.scss",
        "vendor/bootstrap/v4/scss/utilities/_align.scss",
        "vendor/bootstrap/v4/scss/utilities/_background.scss",
        "vendor/bootstrap/v4/scss/utilities/_borders.scss",
        "vendor/bootstrap/v4/scss/utilities/_clearfix.scss",
        "vendor/bootstrap/v4/scss/utilities/_display.scss",
        "vendor/bootstrap/v4/scss/utilities/_flex.scss",
        "vendor/bootstrap/v4/scss/utilities/_float.scss",
        "vendor/bootstrap/v4/scss/utilities/_position.scss",
        "vendor/bootstrap/v4/scss/utilities/_screenreaders.scss",
        "vendor/bootstrap/v4/scss/utilities/_sizing.scss",
        "vendor/bootstrap/v4/scss/utilities/_spacing.scss",
        "vendor/bootstrap/v4/scss/utilities/_text.scss",
        "vendor/bootstrap/v4/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/v4/scss/_mixins.scss",
      "imports": [
        "vendor/bootstrap/v4/scss/mixins/_breakpoints.scss",
        "vendor/bootstrap/v4/scss/mixins/_hover.scss",
        "vendor/bootstrap/v4/scss/mixins/_image.scss",
        "vendor/bootstrap/v4/scss/mixins/_badge.scss",
        "vendor/bootstrap/v4/scss/mixins/_resize.scss",
        "vendor/bootstrap/v4/scss/mixins/_screen-reader.scss",
        "vendor/bootstrap/v4/scss/mixins/_size.scss",
        "vendor/bootstrap/v4/scss/mixins/_reset-text.scss",
        "vendor/bootstrap/v4/scss/mixins/_text-emphasis.scss",
        "vendor/bootstrap/v4/scss/mixins/_text-hide.scss",
        "vendor/bootstrap/v4/scss/mixins/_text-truncate.scss",
        "vendor/bootstrap/v4/scss/mixins/_transforms.scss",
        "vendor/bootstrap/v4/scss/mixins/_visibility.scss",
        "vendor/bootstrap/v4/scss/mixins/_alert.scss",
        "vendor/bootstrap/v4/scss/mixins/_buttons.scss",
        "vendor/bootstrap/v4/scss/mixins/_cards.scss",
        "vendor/bootstrap/v4/scss/mixins/_pagination.scss",
        "vendor/bootstrap/v4/scss/mixins/_lists.scss",
        "vendor/bootstrap/v4/scss/mixins/_list-group.scss",
        "vendor/bootstrap/v4/scss/mixins/_nav-divider.scss",
        "vendor/bootstrap/v4/scss/mixins/_forms.scss",
        "vendor/bootstrap/v4/scss/mixins/_table-row.scss",
        "vendor/bootstrap/v4/scss/mixins/_background-variant.scss",
        "vendor/bootstrap/v4/scss/mixins/_border-radius.scss",
        "vendor/bootstrap/v4/scss/mixins/_gradients.scss",
        "vendor/bootstrap/v4/scss/mixins/_clearfix.scss",
        "vendor/bootstrap/v4/scss/mixins/_navbar-align.scss",
        "vendor/bootstrap/v4/scss/mixins/_grid-framework.scss",
        "vendor/bootstrap/v4/scss/mixins/_grid.scss",
        "vendor/bootstrap/v4/scss/mixins/_float.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/v4/scss/_reboot.scss",
      "imports": [
        "vendor/bootstrap/v4/scss/bootstrap.scss",
        "vendor/bootstrap/v4/scss/_variables.scss",
        "vendor/bootstrap/v4/scss/_mixins.scss",
        "vendor/bootstrap/v4/scss/_custom.scss",
        "vendor/bootstrap/v4/scss/_normalize.scss",
        "vendor/bootstrap/v4/scss/_print.scss",
        "vendor/bootstrap/v4/scss/_type.scss",
        "vendor/bootstrap/v4/scss/_images.scss",
        "vendor/bootstrap/v4/scss/_code.scss",
        "vendor/bootstrap/v4/scss/_grid.scss",
        "vendor/bootstrap/v4/scss/_tables.scss",
        "vendor/bootstrap/v4/scss/_forms.scss",
        "vendor/bootstrap/v4/scss/_buttons.scss",
        "vendor/bootstrap/v4/scss/_transitions.scss",
        "vendor/bootstrap/v4/scss/_dropdown.scss",
        "vendor/bootstrap/v4/scss/_button-group.scss",
        "vendor/bootstrap/v4/scss/_input-group.scss",
        "vendor/bootstrap/v4/scss/_custom-forms.scss",
        "vendor/bootstrap/v4/scss/_nav.scss",
        "vendor/bootstrap/v4/scss/_navbar.scss",
        "vendor/bootstrap/v4/scss/_card.scss",
        "vendor/bootstrap/v4/scss/_breadcrumb.scss",
        "vendor/bootstrap/v4/scss/_pagination.scss",
        "vendor/bootstrap/v4/scss/_badge.scss",
        "vendor/bootstrap/v4/scss/_jumbotron.scss",
        "vendor/bootstrap/v4/scss/_alert.scss",
        "vendor/bootstrap/v4/scss/_progress.scss",
        "vendor/bootstrap/v4/scss/_media.scss",
        "vendor/bootstrap/v4/scss/_list-group.scss",
        "vendor/bootstrap/v4/scss/_responsive-embed.scss",
        "vendor/bootstrap/v4/scss/_close.scss",
        "vendor/bootstrap/v4/scss/_modal.scss",
        "vendor/bootstrap/v4/scss/_tooltip.scss",
        "vendor/bootstrap/v4/scss/_popover.scss",
        "vendor/bootstrap/v4/scss/_carousel.scss",
        "vendor/bootstrap/v4/scss/_utilities.scss",
        "vendor/bootstrap/v4/scss/mixins/_breakpoints.scss",
        "vendor/bootstrap/v4/scss/mixins/_hover.scss",
        "vendor/bootstrap/v4/scss/mixins/_image.scss",
        "vendor/bootstrap/v4/scss/mixins/_badge.scss",
        "vendor/bootstrap/v4/scss/mixins/_resize.scss",
        "vendor/bootstrap/v4/scss/mixins/_screen-reader.scss",
        "vendor/bootstrap/v4/scss/mixins/_size.scss",
        "vendor/bootstrap/v4/scss/mixins/_reset-text.scss",
        "vendor/bootstrap/v4/scss/mixins/_text-emphasis.scss",
        "vendor/bootstrap/v4/scss/mixins/_text-hide.scss",
        "vendor/bootstrap/v4/scss/mixins/_text-truncate.scss",
        "vendor/bootstrap/v4/scss/mixins/_transforms.scss",
        "vendor/bootstrap/v4/scss/mixins/_visibility.scss",
        "vendor/bootstrap/v4/scss/mixins/_alert.scss",
        "vendor/bootstrap/v4/scss/mixins/_buttons.scss",
        "vendor/bootstrap/v4/scss/mixins/_cards.scss",
        "vendor/bootstrap/v4/scss/mixins/_pagination.scss",
        "vendor/bootstrap/v4/scss/mixins/_lists.scss",
        "vendor/bootstrap/v4/scss/mixins/_list-group.scss",
        "vendor/bootstrap/v4/scss/mixins/_nav-divider.scss",
        "vendor/bootstrap/v4/scss/mixins/_forms.scss",
        "vendor/bootstrap/v4/scss/mixins/_table-row.scss",
        "vendor/bootstrap/v4/scss/mixins/_background-variant.scss",
        "vendor/bootstrap/v4/scss/mixins/_border-radius.scss",
        "vendor/bootstrap/v4/scss/mixins/_gradients.scss",
        "vendor/bootstrap/v4/scss/mixins/_clearfix.scss",
        "vendor/bootstrap/v4/scss/mixins/_navbar-align.scss",
        "vendor/bootstrap/v4/scss/mixins/_grid-framework.scss",
        "vendor/bootstrap/v4/scss/mixins/_grid.scss",
        "vendor/bootstrap/v4/scss/mixins/_float.scss",
        "vendor/bootstrap/v4/scss/utilities/_align.scss",
        "vendor/bootstrap/v4/scss/utilities/_background.scss",
        "vendor/bootstrap/v4/scss/utilities/_borders.scss",
        "vendor/bootstrap/v4/scss/utilities/_clearfix.scss",
        "vendor/bootstrap/v4/scss/utilities/_display.scss",
        "vendor/bootstrap/v4/scss/utilities/_flex.scss",
        "vendor/bootstrap/v4/scss/utilities/_float.scss",
        "vendor/bootstrap/v4/scss/utilities/_position.scss",
        "vendor/bootstrap/v4/scss/utilities/_screenreaders.scss",
        "vendor/bootstrap/v4/scss/utilities/_sizing.scss",
        "vendor/bootstrap/v4/scss/utilities/_spacing.scss",
        "vendor/bootstrap/v4/scss/utilities/_text.scss",
        "vendor/bootstrap/v4/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/v4/scss/_utilities.scss",
      "imports": [
        "vendor/bootstrap/v4/scss/utilities/_align.scss",
        "vendor/bootstrap/v4/scss/utilities/_background.scss",
        "vendor/bootstrap/v4/scss/utilities/_borders.scss",
        "vendor/bootstrap/v4/scss/utilities/_clearfix.scss",
        "vendor/bootstrap/v4/scss/utilities/_display.scss",
        "vendor/bootstrap/v4/scss/utilities/_flex.scss",
        "vendor/bootstrap/v4/scss/utilities/_float.scss",
        "vendor/bootstrap/v4/scss/utilities/_position.scss",
        "vendor/bootstrap/v4/scss/utilities/_screenreaders.scss",
        "vendor/bootstrap/v4/scss/utilities/_sizing.scss",
        "vendor/bootstrap/v4/scss/utilities/_spacing.scss",
        "vendor/bootstrap/v4/scss/utilities/_text.scss",
        "vendor/bootstrap/v4/scss/utilities/_visibility.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}